.body{
      background-color: pink;
      margin: 0;
      padding: 20px;
}
.header{
    font-family: arial;
    color: blue;
    animation-duration: 2s;
    animation-name: sideleft;
    animation: mymove 5s;
    animation-fill-mode: forwards;

}
#header {animation-timing-function: linear;}

@keyframes sideleft{
     from{transform: translateX(200px)}
}

@keyframes mymove {
  from {left: 0px;}
  to {left: 300px;}
}

.abtme{
      margin: 30px 0;
      padding: 20px;
      background-color:aquamarine;
      border-radius: 10px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
}
.para{
     font-family: 'Times New Roman', Times, serif;
     font-size: 20px;
     font-style: italic;

}

h2, h3, h5 {
    color: #007acc;
    font-size: 25px;
    font-weight:bold;
    font-style: oblique;
  }

  ul, ol {
    padding-left: 20px;
  }

  li {
    margin-bottom: 8px;
  }
.contact{
    margin: 30px 0;
    padding: 20px;
    background-color: #89e9ff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
    font-size: 20px;
   font-style: italic;
}

.flex-container {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .box {
    flex: 1;
    padding: 20px;
      background-color: #f3bc95;
      border-radius: 10px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
      font-size: 20px;
     font-style: italic;
    min-width: 250px;
    text-align: center;
  }
  .p1{
    font-size: 25px;
    font-style: italic;

  }